version: '3.8'
services:
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"

  # --- NEW: Redis Container ---
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"